<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="covidcheckup" transaction-type="RESOURCE_LOCAL">

        <class>me.devarif.covidcheckup.entity.Doctor</class>
        <class>me.devarif.covidcheckup.entity.Patient</class>
        <class>me.devarif.covidcheckup.entity.Diagnosis</class>
        <class>me.devarif.covidcheckup.entity.CovidLevel</class>
    </persistence-unit>
</persistence>
